@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* .block_mission_map.card {
    background: rgb(39, 192, 227);
    background: linear-gradient(
        90deg,
        rgba(39, 192, 227, 1) 0%,
        rgba(73, 142, 179, 1) 99%
    );
    border: none;
    margin: 0;
} */

.block_mission_map .map {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    font-family: 'Bangers', monospace;
    background-image: url([[pix:block_mission_map|map-2000px]]);
    background-size: cover;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    margin: 0 10em;
}

/* .block_mission_map .map:before,
.block_mission_map .map:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
}
.block_mission_map .map:before {
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.75;
    animation: scanline 4s linear infinite;
}
.block_mission_map .map:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.2) 51%
    );
    background-size: 100% 4px;
    animation: scanlines 3s steps(60) infinite;
} */

.block_mission_map .map .chapter {
    position: relative;
    flex: 1 0 34%;
    min-height: 350px;
    outline: 5px solid white;
    padding: 1em;
}

.block_mission_map .map .chapter .add_level,
.block_mission_map .map .chapter .add_sublevel {
    z-index: 999;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.block_mission_map .map .chapter h3 {
    font-family: 'Bangers', monospace;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 0.2em 0 0.2em;
}

.block_mission_map .map .chapter .mission {
    font-family: 'Bungee';
    position: absolute;
    z-index: 800;
    background: rgb(255, 5, 64);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.block_mission_map .map .chapter .mission.dimmed {
    opacity: 0.4;
}

.block_mission_map .map .chapter .mission .mission-text {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    line-height: 2.5;
    background-size: contain;
}

/* .block_mission_map .map .chapter .mission .mission-text:hover {
    text-decoration: none;
}

.block_mission_map .map .chapter .mission .mission-tools {
    z-index: 900;
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: -130px;
    padding-left: 30px;
} */

/* .block_mission_map .map .chapter .mission:hover > .mission-tools,
.block_mission_map
    .map
    .chapter
    .mission
    .mission-tools:hover
    > .mission-tools {
    visibility: visible;
} */

/* purple -> whale -> urgent blue -> bright mint */
.colored_background {
    background: linear-gradient(
        90deg,
        rgba(153, 51, 255, 1) 0%,
        rgba(73, 142, 179, 1) 15%,
        rgba(39, 192, 227, 1) 36%,
        rgba(0, 240, 166, 1) 100%
    );
}

.voting_session {
    padding: 1em;
}

.voting_session .banner {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1em;
    max-width: 75%;
    margin: 1.5em auto;
    text-align: center;
}

.voting_session .banner h1 {
    font-family: 'Bangers', monospace;
    color: rgba(0, 0, 0, 1);
    font-size: 3.5em;
}

.voting_session .banner p {
    font-family: 'Bangers', monospace;
    font-size: 1.5em;
    color: rgba(255, 5, 64, 1);
}

.voting_session .options {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    padding: 0.5em;
}

.voting_session button {
    background: rgba(255, 5, 64, 1);
    border: none;
}

.voting_session .options .option {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    padding: 1em;
    text-align: center;
    margin: 0.5em;
}

.voting_session .options .option .dimmed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(127, 127, 127, 0.6);
}

.voting_session .options .option .title {
    font-family: 'Bangers', monospace;
    color: rgba(0, 0, 0, 1);
    font-size: 1.3em;
    margin-bottom: 1em;
}

.voting_session .options .option img {
    margin-bottom: 1em;
    max-width: 100%;
}

.voting_session .options .option input.vote_btn {
    margin-left: 0;
    background: rgba(255, 5, 64, 1);
    padding: 0.5em 2em;
    border: none;
    clear: both;
}

.voting_session .options .option .casted_votes {
    font-family: 'Bangers', monospace;
    color: rgba(0, 0, 0, 1);
    font-size: 2.5em;
}

.voting_session .options .option .casted_votes_label {
    font-family: 'Bangers', monospace;
    color: rgba(0, 0, 0, 1);
    font-size: 1.1em;
}

@media (min-width: 576px) {
    .voting_session .options .option > .form-group {
        margin-left: 0;
    }
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 600px) {
    .block_mission_map .map {
        display: block;
        height: auto;
        flex: none;
    }

    .block_mission_map .map .chapter {
        padding: 1em 0;
    }

    .block_mission_map .map .chapter .mission {
        position: relative;
        display: block;
        margin: 20px auto;
        top: 0;
        left: 0;
    }
}
