{{!
    @template block_mission_map/blockintohq
}}
<div class="block_mission_map">
    {{{blockcontent}}}
</div>

{{#js}}
    require(['block_mission_map/colorizer'], function(Colorizer) {
        Colorizer.init('.block_mission_map');
    });
{{/js}}