{{!
    @template block_mission_map/chapters
}}
<div id="mission_map" class="map">
    {{#chapters}}
        <div id="chapter_{{id}}" class="chapter">
            <a
                href="#"
                class="btn btn-primary edit_chapter"
                data-cid="{{id}}"
                data-cname="{{name}}"
                data-haslock="{{has_lock}}"
                data-unlock="{{unlocking_date}}"
                >
                    Edit
            </a>
            <div class="chapter_header">
                <h3>{{name}}</h3>
            </div>
            <img src="{{img}}" />
            {{#levels}}
                <div class="mission" data-lid="{{id}}" data-toggle="tooltip" data-placement="top" title="{{name}}">
                    <div class="mission-tools">
                        <a href={{url}} class="btn btn-secondary btn-sm go_level">go</a>
                        <a href={{editurl}} class="btn btn-primary btn-sm edit_level">edit</a>
                        <a class="btn btn-danger btn-sm delete_level">&times;</a>
                    </div>
                    <span class="mission-text">
                        {{no}}
                    </span>
                </div>
            {{/levels}}
            <a href="#" class="btn btn-primary add_level">Add Level</a>
        </div>
    {{/chapters}}
</div>
<a href="#" class="btn btn-primary" id="add_chapter">Add Chapter</a>
{{#js}}
    require(['block_mission_map/chapters'],
        function(module) {
            module.init({
                contextid: {{contextid}},
                blockid: {{blockid}},
                courseid: {{courseid}},
            });
        }
    );
    require(['block_mission_map/levels'],
        function(module) {
            module.init_add({{{contextid}}});
        }
    );
    require(['block_mission_map/randomizer'],
        function(module) {
            module.init();
        }
    );
{{/js}}