{{!
    @template block_mission_map/chapter
}}
<div class="chapter" data-cid="{{id}}">
    <div class="chapter_header">
        <h3>{{name}}</h3>
    </div>
    <img src="{{img}}" />
    <a href="#" class="btn btn-primary add_level">Add Level</a>
</div>