{{!
    @template block_mission_map/level
}}
<div class="mission" data-lid="{{id}}">
    <div class="mission-tools">
        <span class="btn btn-primary btn-sm edit">edit</span>
        <span class="btn btn-danger btn-sm delete">delete</span>
    </div>
    <span class="mission-text">
        {{id}}
    </span>
</div>