{{!
    @template block_mission_map/level
}}
<div class="map level">
    {{#level}}
        <div class="chapter" data-cid="{{chapterid}}" data-plid="{{id}}">
            <div class="chapter_header">
                <h3>{{name}}</h3>
            </div>
            <img src="{{img}}" />
            {{#sublevels}}
                <a href="{{url}}" class="mission" data-toggle="tooltip" data-placement="top" title="{{name}}">
                    <span class="mission-text">
                        {{no}}
                    </span>
                </a>
            {{/sublevels}}
            {{#isEditing}}
                <a href="#" class="btn btn-primary add_sublevel">Add Sublevel</a>
            {{/isEditing}}
        </div>
    {{/level}}
</div>
{{#js}}
    require(['block_mission_map/sublevels'],
        function(module) {
            module.init_add({{{contextid}}});
        }
    );
    require(['block_mission_map/randomizer'],
        function(module) {
            module.init();
        }
    );
{{/js}}