{{!
    @template block_mission_map/map
}}
<div class="map">
    {{#chapters}}
        <div class="chapter">
            <h3>{{name}}</h3>
            {{#missions}}
                <div class="mission">
                    <a href="{{url}}">
                        {{id}}
                    </a>
                </div>
                <svg>
                    <line class="line"/>
                    <path class="curve" d=""/>
                </svg>
            {{/missions}}
        </div>
    {{/chapters}}
</div>
<a href="{{{url}}}">Edit chapters</a>