{{!
    @template block_mission_map/map
}}
<div class="map">
    {{#chapters}}
        <div class="chapter">
            <h3>{{name}}</h3>
            {{#missions}}
                <a href="{{url}}">
                    <span class="mission" style="left: {{left}}%; top: {{top}}%">{{id}}</span>
                </a>
            {{/missions}}
        </div>
    {{/chapters}}
</div>
<a href="{{{url}}}">Edit chapters</a>