{{!
    @template block_mission_map/map
}}
<div class="map">
    {{#chapters}}
        <div class="chapter">
            <h3>{{name}}</h3>
            <svg class="wrapper" width="100%" height="100%" viewBox="0 0 1200 400">
                {{#levels}}
                    <a href={{url}}>
                        <circle class="mission" />
                        <text text-anchor="middle" class="mission-text">
                            {{id}}
                        </text>
                    </a>
                {{/levels}}
            </svg>
        </div>
    {{/chapters}}
</div>