{{!
    @template block_mission_map/voting_session
}}
{{#session}}
    <div class="voting_session">
        <div class="banner">
            {{#totalizing}}
                <h1>{{#str}} voting_totalizing, block_mission_map {{/str}}</h1>
                <p>{{#userdate}} {{voting_deadline}}, %A, %d %B %Y, %I:%M %p {{/userdate}}</p>
            {{/totalizing}}

            {{#tie}}
                <h1>{{#str}} voting_tie, block_mission_map {{/str}}</h1>
                <p>{{#str}} voting_tie_info, block_mission_map {{/str}}</p>
            {{/tie}}

            {{#completed}}
                <h1>{{#str}} voting_completed, block_mission_map, {{winner_name}} {{/str}}</h1>
                <button class="btn btn-danger">
                    {{#str}} vote_continue, block_mission_map {{/str}}
                </button>
            {{/completed}}

            {{#isOpen}}
                <h1>{{#str}} voting_choose_path, block_mission_map {{/str}}</h1>
                <p>{{#userdate}} {{voting_deadline}}, %A, %d %B %Y, %I:%M %p {{/userdate}}</p>
            {{/isOpen}}
        </div>
        {{#completed}}
            <div class="options">
                {{#options}}
                    <div class="option">
                        {{^isWinner}}
                            <div class="dimmed"></div>
                        {{/isWinner}}
                        <div class="title">{{name}}</div>
                        <div class="option_image">
                            <img src="http://placehold.it/300x200"/>
                        </div>
                        <div class="casted_votes">
                            {{votes}}
                        </div>
                        <div class="casted_votes_label">
                            {{#str}} votes, block_mission_map {{/str}}
                        </div>
                    </div>
                {{/options}}
            </div>
        {{/completed}}

        {{#tie}}
        <div class="options">
            {{#options}}
                <div class="option">
                    {{^isWinner}}
                        <div class="dimmed"></div>
                    {{/isWinner}}
                    <div class="title">{{name}}</div>
                    <div class="option_image">
                        <img src="http://placehold.it/300x200"/>
                    </div>
                    <div class="casted_votes">
                        {{votes}}
                    </div>
                    <div class="casted_votes_label">
                        {{#str}} votes, block_mission_map {{/str}}
                    </div>
                </div>
            {{/options}}
        </div>
    {{/tie}}
    </div>
{{/session}}