{{!
    @template block_mission_map/voting_session
}}
{{#session}}
    <div class="voting_session">
        <div class="banner">
            {{#totalizing}}
                <h1>{{#str}} voting_totalizing, block_mission_map {{/str}}</h1>
                <p class="featured">{{#userdate}} {{voting_deadline}}, %A, %d %B %Y, %I:%M %p {{/userdate}}</p>
            {{/totalizing}}

            {{#tie}}
                <h1>{{#str}} voting_tie, block_mission_map {{/str}}</h1>
                <p class="featured">{{#str}} voting_tie_info, block_mission_map {{/str}}</p>
            {{/tie}}

            {{#completed}}
                <h1>{{#str}} voting_completed, block_mission_map, {{winner_name}} {{/str}}</h1>
                <a href="{{url}}" class="btn btn-danger">
                    {{#str}} vote_continue, block_mission_map {{/str}}
                </a>
            {{/completed}}

            {{#isOpen}}
                <h1>{{#str}} voting_choose_path, block_mission_map {{/str}}</h1>
                {{#voting_deadline}}
                    <p class="featured">{{#userdate}} {{voting_deadline}}, %A, %d %B %Y, %I:%M %p {{/userdate}}</p>
                {{/voting_deadline}}
            {{/isOpen}}
        </div>

        {{#description}}
            <div class="description">
                <div class="intro">
                    {{#str}} vote_intro, block_mission_map {{/str}}
                </div>
                <p>{{description}}</p>
            </div>
        {{/description}}

        {{#completed}}
            <div class="options">
                {{#options}}
                    <div class="option">
                        {{^isWinner}}
                            <div class="dimmed"></div>
                        {{/isWinner}}
                        <div class="title">{{name}}</div>
                        <div class="vote_image image_{{index}}"></div>
                        <div class="option_description">
                            {{description}}
                        </div>
                        <div class="casted_votes">
                            {{votes}}
                        </div>
                        <div class="casted_votes_label">
                            {{#isSingleVote}}
                                {{#str}} single_vote, block_mission_map {{/str}}
                            {{/isSingleVote}}
                            {{^isSingleVote}}
                                {{#str}} votes, block_mission_map {{/str}}
                            {{/isSingleVote}}
                        </div>
                    </div>
                {{/options}}
            </div>
        {{/completed}}

        {{#tie}}
        <div class="options">
            {{#options}}
                <div class="option">
                    {{^isWinner}}
                        <div class="dimmed"></div>
                    {{/isWinner}}
                    <div class="title">{{name}}</div>
                    <div class="vote_image image_{{index}}"></div>
                    <div class="option_description">
                        {{description}}
                    </div>
                    <div class="casted_votes">
                        {{votes}}
                    </div>
                    <div class="casted_votes_label">
                        {{#isSingleVote}}
                            {{#str}} single_vote, block_mission_map {{/str}}
                        {{/isSingleVote}}
                        {{^isSingleVote}}
                            {{#str}} votes, block_mission_map {{/str}}
                        {{/isSingleVote}}
                    </div>
                </div>
            {{/options}}
        </div>
    {{/tie}}
    </div>
{{/session}}